@charset "ISO-8859-1";
.lien{
	border: purple 2px solid;
	width: fit-content;
	background: red;
	margin: 0px -5px 0px -5px;
	font-size: 48px;
	color: green;
}
.menu{
	align-items: center;
	align-content: center;
	text-align: center;
}