@charset "ISO-8859-1";
body,html{
	margin : 0;
	font-size: 32px;
	background: #C8CDC8;
}
tr,th,td,table{
	border: green 2px solid;
	border-collapse: collapse;
	margin:auto;
}
.blocFormulaire{
    text-align: center;
    margin: auto;
    width: fit-content;
}
[type="text"],[type="date"],select{
    background: #AEF7FD;  
    width: 100%;
    border:1px solid #2CC0D0;
    border-radius: 3px;
    margin-top:1%; 
}
.blocValeur{
    text-align: left;
    margin-top:1%;
}
tr:nth-child(odd){
    background: #AEF7FD;
}
tr:nth-child(even){
    background: #2CC0D0;
}
